@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  height: 42px;
  width: 360px;
  text-align: center;
  border-radius: 20px;
  margin-left: 17%;
  background-color: #f8efef;
  border: 2px solid white;
}

button {
  margin-left: 20%;
  height: 42px;
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 15px;
}

.down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.blue {
  color: rgb(26, 102, 241);
  margin-left: 4px;
  font-weight: bolder;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  margin-left: 10px;
}

#atgimg {
  height: 60px;
  margin-left: 5%;
  padding: 6px;
}

.rectangle3 {
  position: absolute;
  width: 100%;
  height: 440px;
  left: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.discription {
  width: 100%;
  height: 440px;
  background-image: url(https://unsplash.com/photos/eBRTYyjwpRY/download?ixid=MnwxMjA3fDB8MXxhbGx8MjB8fHx8fHwyfHwxNjc3ODk4MjYy&force=true&w=1920);
  background-attachment: fixed;
  background-position: center;
}

.headings {
  position: absolute;
  width: 378px;
  height: 47px;
  left: 200px;
  top: 310px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
}

.headingintro {
  position: absolute;
  width: 327px;
  height: 23px;
  left: 200px;
  top: 360px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

/* articlecss  */
.articlebox {
  align-self: baseline;
  width: 692px;
  height: 472px;
  margin: 25px;
  margin-left: 10%;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.rectangle5 {
  width: 100%;
  height: 220px;
  background-image: url(https://unsplash.com/photos/HqBB-mXz_GY/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjc3OTI4ODYz&force=true&w=1920);
  border-radius: 4px 4px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.article1 {
  width: 100px;
  height: 25px;
  padding: 20px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.articlehead {
  width: 600px;
  height: 60px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 134.17%;
  color: #000000;
  display: flex;
}

.dots {
  color: #000000;
}

.articleshortdec {
  width: 652px;
  height: 25px;
  padding: 20px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 134.17%;
  color: #5C5C5C;
}

#share {
  height: 10px;
}

.sidemenu {
  width: 30%;
  display: flex;
  align-self: center;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10%;
  border: 1px solid #888;
  width: 30%;
  height: 40%;
  border-radius: 15px;
  transition: 1s ease-out;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}